body{
    background-color: darkcyan;
}
/* 

*/
.game-screen {
    width: 600px;
    height: 600px;
    padding: 10px;
    border: 5px solid black;
    margin: auto;
    text-align: center;
    background-color: darkgreen;
  }

.players {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mid{
    width: 32%;
    padding-bottom: 32%; 
    margin-bottom: 2%; 
    position: relative;
}
.player-1 {
    width: 32%;
    padding-bottom: 32%; 
    margin-bottom: 2%; 
    position: relative;
}
.player-2{
    width: 32%;
    padding-bottom: 32%; 
    margin-bottom: 2%; 
    position: relative;
}
.player-3{
    width: 32%;
    padding-bottom: 32%; 
    margin-bottom: 2%; 
    position: relative;
}.player-4{
    width: 32%;
    padding-bottom: 32%; 
    margin-bottom: 2%; 
    position: relative;
}